.cardpic {
  display: inline-block;
  width: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px #eb144c;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  background-image: url("/src/components/Assets/backcard.jpg");
  border: 1px solid #eb144c;
}

.cardpic:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  z-index: 1;
}

.cardpic + .cardpic {
  margin-left: 20px;
}

.cardpic a {
  text-decoration: none;
  color: inherit;
}

.cardpic a:visited {
  color: inherit;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00b6d7;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  padding-left: 1px;
}

.favBtn:hover {
  background-color: #0097b6;
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.cardpic h1 {
  position: absolute;
  top: 260px;
  left: 95px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #eb144c;
}




